media/
logs/
db.sqlite3
utility/migrations/


# python
__pycache__
*.pyc

# python env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### vue stuff
.DS_Store
node_modules

# local env files
.env.local
.env.*.local

