asgiref==3.4.1
asn1crypto==0.24.0
attrs==21.4.0
certifi==2021.10.8
cffi==1.11.5
charset-normalizer==2.0.12
cloud-init==19.1
configobj==5.0.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.2.1
dbus-python==1.2.4
decorator==4.2.1
Django==3.2.13
django-extensions==3.1.5
django-filter==21.1
django-model-utils==4.2.0
django-nose==1.4.7
django-sslserver==0.22
djangorestframework==3.13.1
djangorestframework-csv==2.1.1
djangorestframework-simplejwt==4.4.0
drf-yasg==1.20.0
gpg==1.13.1
idna==2.5
importlib-metadata==4.8.3
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.3
jsonpatch==1.32
jsonpointer==2.2
jsonschema==4.0.0
libcomps==0.1.16
MarkupSafe==2.0.1
netifaces==0.10.6
nftables==0.1
nose==1.3.7
oauthlib==3.2.0
packaging==21.3
pciutils==2.3.6
perf==0.1
pexpect==4.3.1
ply==3.9
ptyprocess==0.5.2
pycparser==2.14
pygobject==3.28.3
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==2.1.10
pyrsistent==0.18.0
python-dateutil==2.6.1
python-dmidecode==3.12.2
python-linux-procfs==0.6.3
pytz==2022.1
pyudev==0.21.0
PyYAML==6.0
requests==2.27.1
rhnlib==2.8.6
rpm==4.14.3
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
schedutils==0.6
selinux==2.9
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.1
sqlparse==0.4.2
syspurpose==1.28.21
typing-extensions==4.1.0
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.8
zipp==3.6.0
